@import-normalize; /* bring in normalize.css styles */
/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables & Root Styles */
:root {
    /* Colors */
    --main-bg-color: #FAF9F5;
    --text-color-primary: #2E2D25;
    --text-color-caption: #7E7B63;

    /* Typography */
    
}

.App {
    font-family: 'Source Serif Pro', serif;
    color: var(--text-color-primary);
}
